@import "../../assets/sass/variables";
.about {
  &__text {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 10%;
  }
}

@media screen and (min-width: $medium-screen-width) {
  .about {
    &__text {
      margin-top: 5%;
      font-size: larger;
    }
  }
}

@media screen and (min-width: $laptop-screen-width) {
  .about {
    margin: 5%;

    &__text {
      margin-top: 10px;
      font-size: larger;
    }

    &__image {
      transform: scale(0.5, 0.8);
    }
  }
}

@media screen and (min-width: $monitor-screen-width) {
  .about {
    margin: 5%;
    padding-bottom: 10%;

    &__text {
      margin-top: 10px;
      font-size: 36px;
    }

    &__image {
      transform: scale(0.5, 0.9);
    }
  }
}
