
.buttons {
  display: flex;
  align-items: center;

}
.button {

  width: 80%;
  margin: auto;
  padding: 10px 20px;
  border: none;
}

.primary {
  background-color: #307bb9;
  color: whitesmoke;
 

  
}

.secondary {
  background-color: whitesmoke;
  color: #307bb9;
}
