

@import "../../assests/sass/variables";

.buttons {
//   display: flex;
//   border: black 2px solid;




}
.button {

  min-width: 40%;
  margin: auto;
  padding: 10px 20px;
  border: none;
}

.primary {
  background-color: #307bb9;
  color: whitesmoke;
 

  
}

.secondary {
  background-color: whitesmoke;
  color: #307bb9;
}


@media screen  and (min-width:$medium-screen-width) {
  .button {
    font-size: larger;
  
  }


}