

@import "../../assets/sass/variables";

.buttons {
  display: flex;

}
.button {
  min-width: 70%;
  margin: auto;
  padding: 10px 20px;
  border: none;
}

.primary {
  background-color: $primary-blue;
  color: whitesmoke;
 

  
}

.secondary {
  background-color: whitesmoke;
  color: #307bb9;
}


@media screen  and (min-width:$medium-screen-width) {
  .button {
    font-size: larger;
  
  }


}