.page {
   display: flex;
   justify-content: space-between;
  align-items: center;
   
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
 
  // border: 2px solid black;

  &__label {
    margin: 0;

   }


   &__input {

     border: 2px solid rgb(155, 155, 155);
     border-radius: 5px;
     padding: 2%;
     background: rgba(222, 222, 222, 0.5);;
   }

   &__input:focus{
    background-color: lightblue;;
   }
  

  &__image {
    
    width: 110%;
    padding: 10%;
   
  }
}
