@import "../../assets/sass/variables";

.page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 70%;

  // border: 2px solid black;

  &__label {
    margin: 0;
  }

  &__input {
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
    padding: 2%;
    background: rgba(222, 222, 222, 0.5);
  }

  &__input:focus {
    background-color: lightblue;
  }

  &__image {
    width: 100%;
    height: 500px;
    margin: 10%;
  }
}

@media (min-width: $medium-screen-width) {
  .form {
    &__flex--labels {
      display: flex;
    }
    &__flex--unit {
      display: flex;
      flex-direction: column;
      margin: 10px;
      width: 200px;
    }
  }
}

@media screen and (min-width: $larger-laptop-screen-width) {
  .page {
    padding-bottom: 20%;

    justify-content: space-evenly;
  }

  .form {
    &__image {
      width: 90%;
      height: 120%;
      margin-top: -10%;
      overflow-y: hidden;
    }
  }
}
@media screen and (min-width: $monitor-screen-width) {
  .page {
    padding-bottom: 20%;
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }

  .form {
    width: 30%;
    font-size: 34px;
    &__input {
      min-height: 30px;
    }

    &__image {
      width: 60%;
      height: 90%;
      margin-top: -10%;
      overflow-y: hidden;
    }
  }
  .checkbox {
    zoom: 1.5;
    transform: scale(1.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
  }
  .checkbox-label {
    font-size: 20px;
  }
}
