@import "../../assets/sass/variables";

.home {
  &__title {
    margin: 5%;
    text-align: center;
  }
  &__text {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 5%;
  }

  &__button--area {
  }

  &__button {
  }
}

@media screen and (min-width: $medium-screen-width) {
  .home {
    &__title {
      font-size: 22px;
      margin-top: 0%;
      padding-top: 0%;
    }

    &__text {
      margin-top: 0%;
    }
  }
}

@media screen and (min-width: $laptop-screen-width) {
  .home {
    &__flex {
      margin-top: 2%;
      margin-left: 5%;
      padding: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      // border: 2px solid black;
    }

    &__text {
      margin-top: 5%;
    }
    &__columns {
      column-count: 3;
    }

    &__button--area {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      padding-left: 5%;
    }
    &__button--center {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
  }
}

@media screen and (min-width: $larger-laptop-screen-width) {
  .home {
    font-size: 15px;

    &__flex {
      margin-bottom: -20%;
    }
    &__flextext {
      display: flex;
      flex-direction: column;
      height: min-content;
    }

    &__text {
      margin-top: 5%;
      margin-bottom: 0;
    }

    &__title {
      margin-top: -18%;
    }
  }
}

@media screen and (min-width: $monitor-screen-width) {
  .home {
    font-size: 28px;

    &__flex {
      margin-bottom: -15%;
    }
    &__flextext {
      width: 90%;
    }

    &__text {
      margin-top: 5%;
    }

    &__title {
      margin-top: -12%;
      font-size: 45px;
    }
  }
}
