@import "../../assests/sass/variables";

.home {
  &__text {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 10%;
  }

  &__button--area {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    width: auto;
  }
}

@media screen and (min-width: $medium-screen-width) {
  .home {
    
    &__text {
      margin-top: 0;
      font-size: larger;
    }
  }
}

@media screen and (min-width: $large-screen-width) {
  .home {
    &__text {
      margin-top: 0;
      font-size: x-large;
    }
  }
}
