@import "../../assets/sass/variables";

.nav-menu {
  position: fixed;
  z-index: 5;
  background-color: $primary-blue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    font-size: 22px;
    text-decoration: none;
    padding-top: 20px;
  }
}

.cross {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
}

@media screen and (min-width: $laptop-screen-width) {
  .nav-menu {
    background-color: rgba(black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      position: absolute;
      border-radius: 10px;
      width: 30vw;
      height: 35vh;
      z-index: 5;
      background-color: $primary-blue;
      justify-content: center;
    }

    &__item {
      font-size: 30px;
      color: $primary-white;
    }

    &__button {
      margin-top: 10%;
    }
  }
}

@media screen and (min-width: $larger-laptop-screen-width) {
  .nav-menu {
    &__content {
      width: 30%;
      height: 35vh;
    }
  }
}
@media screen and (min-width: $monitor-screen-width) {
  .nav-menu {
    &__content {
      width: 30%;
      height: 20vh;
    }

    &__item {
      font-size: 50px;
    }
  }
}
