.footer {
  padding-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 15%;
  text-align: center;
  border-top: double grey;
  font-family: "Inv Maison Neue", "Maison Neue";
  font-size: 14px;
  color: #9ca4ab;
}
