.footer {
  
  padding-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 15%;
  padding-top: 10%;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(black, 0.25);
  
  font-family: "Inv Maison Neue", "Maison Neue";
  font-size: 14px;
  color: #9ca4ab;
}
