
@import "../../assests/sass/variables";


.Image-border{
  display: flex;
  justify-content: center;


  &__unit {
    display: block;
      width: 80%;
      padding: 10%;

  }
}

@media screen  and (min-width: $medium-screen-width) {
  .Image-border{
   
  
  
    &__unit {
     
        padding-top: 5%;
  
    }
  }


}