$medium-screen-width: 768px;
// $large-screen-width: 992px;
$laptop-screen-width:1200px;
$larger-laptop-screen-width:1440px;
$monitor-screen-width: 2560px;

$primary-blue:  #307bb9;
$primary-white: whitesmoke;
$primary-font: #636363;
$primary-font: "Inv Maison Neue","Maison Neue";
